s2clientprotocol==5.0.12.91115.0
portpicker==1.6.0
numpy==1.26.4
requests==2.31.0
aiohttp==3.9.5
scipy==1.13.0
six==1.16.0
opencv-python==4.9.0.80
more-itertools==10.2.0
mpyq==0.2.5
scikit-learn==1.13.0
loguru==0.7.2
protobuf==5.26.1
